## PASSWORD STRENGTH CHECKER

To create an **application to check the strength of passwords**, we need to have a labelled dataset about different combinations of letters and symbols. I found a dataset on Kaggle to train a machine learning model to predict the strength of a password.

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

data = pd.read_csv("C:/Users/asus/OneDrive/Desktop/ML_Datasets/project/Ml_models/data.csv")
data.head()

      password strength
0     kzde5577        1
1     kino3434        1
2    visi7k1yr        1
3     megzy123        1
4  lamborghin1        1

#### Data Cleaning

In [2]:
data.strength.unique()

array(['1', '2', '0', 'anakonda_252@hotmail.com', 'destek@migmedya.com',
       'elitebank44@gmail.com', 'memleketim.info@gmail.com',
       'canersastim@gmail.com', 'arifselim.ask@gmail.com',
       'octoberwind@mynet.com', 'sado_370@hotmail.com',
       'djexploit@gmail.com', 'bursabursa2@hotmail.com',
       'info@kayimoglu.com', 'drselimcelik@gmail.com',
       'bykudelfa@hotmail.com', 'kralkotsk@mynet.com',
       'mnyk12@hotmail.com', 'elitebilgisayar26@gmail.com',
       'elumre@gmail.com', 'selim.ozmen07@hotmail.com',
       'selimkaratas@windowslive.com', 'crazy_boeing@yahoo.com',
       'imkbticaretmeslek@gmail.com', 'mrcds.grmnt@yahoo.com',
       'mert_kaya09@hotmail.com', 'beratmisimi1@gmail.com',
       'cousto@live.com', 'boystreet04@gmail.com',
       'hackerbbqueen15@hotmail.com', 'brkyc3@hotmail.com',
       'bursa322@hotmail.com', 'selimcebecioglu@gmail.com',
       'ooyrwdiovouxa@hotmail.com', 'antit0xin@hotmail.com',
       'kaderimse.net@hotmail.com', 'cnraktas@hotmail.com',
       'kerem_3435@hotmail.com', 'selim2@live.nl',
       'selimakyol000@hotmail.com', 'selimiu14@gmail.com',
       'selimest1@yahoo.fr', 'sd66@live.com', 'bykudelfa@windowslive.com',
       'mogol_1994@hotmail.com', 'ayakseven@gmail.com',
       'selimiii91@googlemail.com', 'asassa.asdsadsads@mail.ru',
       'byscg@live.com', 'igoubane@gmail.com', 'kudigaf-59@hotmail.com',
       'okanfidan.5@hotmail.com', 'cs.bossy@hotmail.com',
       'gavur55@gmail.com', 'ckrguzel61@hotmail.com',
       'emre_talha_erim@hotmail.com', 'fatal09@live.de',
       'selim93dz@gmail.com', 'aspiranko@gmail.com',
       'manisagfb@windowslive.com', 'freezoneworld@gmail.com',
       'dakikaoyun1@hotmail.com', 'aselimulkatan@windowslive.com',
       'platonik.ask1@hotmail.com.tr', 'bio-nick@hotmail.com',
       'samyeli25@mynet.com', 'selim.samli1@hotmail.com.tr',
       'kuyucu_selim@hotmail.com', 'mesajticaret@hotmail.com',
       'cristiano_juega_10@hotmail.com', 'auetetee@narod.ru',
       'haylaz_1453@hotmail.com', 'selim_tek1@hotmail.com',
       'kralaidcop@gmail.com', 'melchazli@gmail.com',
       'metaren@yandex.com', 'axiselo@hotmail.com',
       'jakuzen.57@hotmail.com', 'by.social@hotmail.com',
       'selimjel@icloud.com', 'escortcu34@gmail.com',
       'iletisim@selimaltin.com', 'demir_06_68@hotmail.com',
       'bychatlak_66@hotmail.com', 'selim1@live.be',
       'dyinglast@outlook.com', 'korhaydut_38@hotmail.com',
       'mt2_shorty@hotmail.com', 'bykudelfa2@hotmail.com',
       'contemp99@gmail.com', 'mehmeteminyakit@tnctr.com',
       'sakaryam5454@yandex.com.tr', 'boskartus@hotmail.com',
       'dumanselim52@gmail.com', 'selimmsn@msn.com',
       'derko_42@hotmail.com', 'selimb300@gmail.com',
       'selimakyuz@gmail.com', 'selimaliqkaj5@gmail.com',
       'karsidag@hotmail.com', 'cellymmm@hotmail.com', 'selim199@abv.bg',
       'brain_storm_92@hotmail.com', 'groteselim@msn.com',
       'avci.selim@gmail.com', 'genc_fb.56@hotmail.com',
       'gencosman_2006@hotmail.com', 'hackershift@gmail.com',
       'begum_akdogan_33@hotmail.com', 'eskortcu@hotmail.com',
       'selim.chergui@hotmail.com', 'odmosegtnss@ovi.com',
       'alpha_omeg@rocketmail.com', 'derdan0707@gmail.com',
       's.selimerdem@hotmail.com', 'atac.selim@gmail.com',
       'keepifreal@hotmail.com', 'deren8120012@hotmail.com',
       'iletisim@oderece.net', 'carizma_cocuk1987@hotmail.com',
       'bursabursa123321@hotmail.com', 'remselim@gmail.com',
       'dummandumman@hotmail.com', 'ezgikutlu_06@hotmail.com',
       'sahinemlak59@gmail.com', 'selim_cz@hotmail.com',
       'selimkirazliogli@hotmail.com', 'csprosunucum@hotmail.com',
       'lostlover662@gmail.com', 'my.dimpls@hotmail.com',
       'kikushi@live.com', 'hi.selimreza@gmail.com',
       'psiko_child@hotmail.com', 'limmy007@live.com',
       'kalkal223@hotmail.com', 'sametselim44@gmail.com',
       'sel34443@gmail.com', 'durdedimulen@hotmail.com',
       'hackershift@live.com', 'komofti34@gmail.com',
       'by_firari_019@hotmail.com', 'johirali08@gmail.com',
       'real_crayz@hotmail.com', 'buzzy_speaker@hotmail.com',
       'ice.nova@hotmail.com', 'karaselim.colakoglu@gmail.com',
       'gs_li_selo@hotmail.com', 'selimgabsi@yahoo.fr',
       'free.gta5@gmail.com', 'selimgs@mynet.com', 'bursa223@hotmail.com',
       'ftp42@gmx.net', 'hayat.yalan.beimgibi@hotmail.com',
       'selim.cancan1@hotmail.com', 'basogluselim@yahoo.com',
       'contempt99@gmail.com', 'expro_sc@hotmail.com',
       'selimdamar63@gmail.com', 'developpeurwebsite@gmail.com',
       'selim.samli038@hotmail.com', 'kaankarayel_2012@hotmail.com',
       'redcap12@yahoo.com', 'faceboookinfo@gmail.com', 'fatal08@live.de',
       'demente_selim@hotmail.com', 's.k11@laposte.net',
       'selimcebesoy@gmail.com', 'selimkoylahisarli@live.com',
       'selimkahya@gmail.com', 'byensel01@hotmail.com',
       'kanli007@hotmail.com', 'enucuzdugun@hotmail.fr',
       'beylikovajumla@mynet.com', 'faakeadres123@hotmail.com',
       'andarmastana@gmail.com', 'frozen2245@gmail.com',
       'selim_samli1@hotmail.com', 'facebookselim1@hotmail.com',
       'mimou_939@hotmail.fr', 'elyomeric@hotmail.com',
       'facebookselim2@hotmail.com', 'haylaz_1997@hotmail.com',
       'selim07_fenerium@hotmail.com', 'korganradyo@hotmail.com',
       'selim880@rambler.ru', 'mhpboy@hotmail.com', 'byselm34@gmail.com',
       'kutlu514@hotmail.com', 'gamesliga@hotmail.com',
       'janssensselim@gmail.com', 'benimsitem@yahoo.com',
       'esesanahtar@hotmail.com', 'ikikeredusun@gmail.com',
       'metin2pvp69@hotmail.com', 'kartallimt2@hotmail.com',
       'evinkirosu@hotmail.com', 'besiktaskim@hotmail.com',
       'cybervadi@hotmail.co.uk', 'selim_sarikaya42@hotmail.com',
       'firar50@hotmail.com', 'cengiz_metin35@hotmail.com',
       'balik_muhammedali665@hotmail.com', 'codeslm.dark@yahoo.com',
       'anime.evi@hotmail.com', 'kartanesi.selim@gmail.com',
       'eskisehirsite@mynet.com', 'bilgisayarbilisimonline@mynet.com',
       'antifb@gmail.com', 'barborosselim@gmail.com',
       'selimkuyucu1@hotmail.com', 'ibrahimsakhta1@gmail.com',
       'selimdg@hotmail.com', 'selimerdogan29@gmail.com',
       'hasel_4458@hotmail.com', 'black_line63@hotmail.com',
       'delibeyazim_18@hotmail.com', 'armin_lokvancic@hotmail.com',
       'selimmsenturkk@hotmail.com', 'hacsel.erdem@gmail.com',
       'dj_gezegen_90@hotmail.com', 'msinan2008@hotmail.de',
       'selim_sari@hotmail.com', 'karamsar_87@yahoo.com',
       'seckinsitesi@mynet.com', 'kralrock@msn.com',
       'pokemon924@live.com', 'selim_mir@hotmail.com',
       'bgselim1993@gmail.com', 'info@live35.net',
       'cimbom_cadde@hotmail.com', 'hajriz.balkansunflowers@gmail.com',
       'f4rr3ll26@gmail.com', 'deltoiddesign@hotmail.com',
       'efsane.mardinli@gmail.com'], dtype=object)

In [3]:
#Replace values based on condition 0,1 and 2 as password strength
data.loc[data['strength'].str.contains('@gmail.com'), 'strength'] = '0'
data.loc[data['strength'].str.contains('@hotmail.com'), 'strength'] = '1'
data.loc[data['strength'].str.contains('@mynet.com'), 'strength'] = '2'
data.strength.unique()

array(['1', '2', '0', 'destek@migmedya.com', 'info@kayimoglu.com',
       'selimkaratas@windowslive.com', 'crazy_boeing@yahoo.com',
       'mrcds.grmnt@yahoo.com', 'cousto@live.com', 'selim2@live.nl',
       'selimest1@yahoo.fr', 'sd66@live.com', 'bykudelfa@windowslive.com',
       'selimiii91@googlemail.com', 'asassa.asdsadsads@mail.ru',
       'byscg@live.com', 'fatal09@live.de', 'manisagfb@windowslive.com',
       'aselimulkatan@windowslive.com', 'auetetee@narod.ru',
       'metaren@yandex.com', 'selimjel@icloud.com',
       'iletisim@selimaltin.com', 'selim1@live.be',
       'dyinglast@outlook.com', 'mehmeteminyakit@tnctr.com',
       'sakaryam5454@yandex.com.tr', 'selimmsn@msn.com',
       'selim199@abv.bg', 'groteselim@msn.com', 'odmosegtnss@ovi.com',
       'alpha_omeg@rocketmail.com', 'iletisim@oderece.net',
       'kikushi@live.com', 'limmy007@live.com', 'hackershift@live.com',
       'selimgabsi@yahoo.fr', 'ftp42@gmx.net', 'basogluselim@yahoo.com',
       'redcap12@yahoo.com', 'fatal08@live.de', 's.k11@laposte.net',
       'selimkoylahisarli@live.com', 'enucuzdugun@hotmail.fr',
       'mimou_939@hotmail.fr', 'selim880@rambler.ru',
       'benimsitem@yahoo.com', 'cybervadi@hotmail.co.uk',
       'codeslm.dark@yahoo.com', 'msinan2008@hotmail.de',
       'karamsar_87@yahoo.com', 'kralrock@msn.com', 'pokemon924@live.com',
       'info@live35.net'], dtype=object)

- Considering data with values 0,1 and 2 only.

In [4]:
valid_values = ['0', '1', '2']
df = data[data['strength'].isin(valid_values)]
df = df.reset_index(drop=True)
df

            password strength
0           kzde5577        1
1           kino3434        1
2          visi7k1yr        1
3           megzy123        1
4        lamborghin1        1
...              ...      ...
669823    10redtux10        1
669824     infrared1        1
669825  184520socram        1
669826     marken22a        1
669827      fxx4pw4g        1

[669828 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669828 entries, 0 to 669827
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   password  669827 non-null  object
 1   strength  669828 non-null  object
dtypes: object(2)
memory usage: 10.2+ MB

In [6]:
x = df.isnull().any(axis =1)
df[x]

       password strength
367686      NaN        0

In [7]:
df['password'].fillna('ktyilop12@34#', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669828 entries, 0 to 669827
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   password  669828 non-null  object
 1   strength  669828 non-null  object
dtypes: object(2)
memory usage: 10.2+ MB

In [8]:
df['strength'].unique()

array(['1', '2', '0'], dtype=object)

The dataset has two columns; password and strength. In the strength column:

- 0 means: the password’s strength is weak,
  1 means: the password’s strength is medium,
  2 means: the password’s strength is strong,

Before moving forward, I will convert 0, 1, and 2 values in the strength column to weak, medium, and strong.

#### Mapping and Preprocessing

In [9]:
df[["strength"]]=df[["strength"]].astype(float)

In [10]:
df["strength"] = df["strength"].map({0: "Weak", 1: "Medium",2: "Strong"})
df.head()

      password strength
0     kzde5577   Medium
1     kino3434   Medium
2    visi7k1yr   Medium
3     megzy123   Medium
4  lamborghin1   Medium

Let’s move to train a machine learning model to predict the strength of the password. Before we start preparing the model, we need to tokenize the passwords as we need the model to learn from the combinations of digits, letters, and symbols to predict the password’s strength. So here’s how we can tokenize and split the data into training and test sets.

In [11]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character
  
x1 = np.array(df["password"])
y = np.array(df["strength"])

tdif = TfidfVectorizer(tokenizer=word)
x = tdif.fit_transform(x1)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.05,random_state=42)

In [12]:
model = RandomForestClassifier(n_estimators=10 , criterion ='entropy' ,random_state = 0)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9400155260957841

In [13]:
y_pred = model.predict(X_test)

from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

      Medium       0.94      0.99      0.96     24776
      Strong       0.97      0.87      0.91      4087
        Weak       0.95      0.75      0.84      4629

    accuracy                           0.94     33492
   macro avg       0.95      0.87      0.90     33492
weighted avg       0.94      0.94      0.94     33492

In [14]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter Password: ········
['Medium']

#### Conclusion

This is how you can use machine learning to create a password’s strength checker using the Python programming language. A password strength checker works by understanding the combination of digits, letters, and special symbols you use in your password.